<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>找回密码</title>
    <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="../../static/css/login.css" th:href="@{/css/login.css}">
</head>
<body>
<form class="login-form " action="test.do?str=index" method="post" id="form">
    <input type="hidden" id="password1" value="-1">
    <h1><img src="../../static/img/logo.png" th:src="@{/img/logo.png}"/></h1>
    <div class="form-group ">
        <input type="text" class="form-control" placeholder="Your Email" id="username">
        <i class="fa fa-user"></i>
    </div>
    <div class="form-group log-status-password-verification">
        <input type="button" onclick="location.href='#'" style="width: 35%;height:50px;display: inline" value="获取验证码" >
        <input type="text" class="form-control" style="float:right;width: 60%" placeholder="请输入邮箱验证码" id="emailverification">
    </div>
    <div class="form-group log-status-password">
        <input type="password" class="form-control" placeholder="请输入新密码" id="password2">
        <i class="fa fa-lock"></i>
    </div>
    <span class="alert" id="msg"></span>
    <a class="link" href="test.do?str=user/login">返回登陆页面</a>
    <button type="button" class="retrieve-password" >找回密码</button>
</form>
  <script src='../../static/js/jquery-1.12.4.min.js' ></script>
  <script src="../../static/js/login.js" th:src="@{/js/login.js}"></script>
</body>
</html>
