<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<title>footer</title>
		<link rel="stylesheet" type="text/css" href="css/public.css" th:href="@{/css/public.css}"/>
		<link rel="stylesheet" type="text/css" href="css/index.css" th:href="@{/css/index.css}"/>
	</head>
	<body>

	<footer th:fragment="footer">
		<div class="footer">
			<div class="top">
				<div class="wrapper">
					<div class="clearfix">
						<a href="#2" class="fl"><img th:src="@{/img/foot1.png}"/></a>
						<span class="fl">7天质量问题包退</span>
					</div>
					<div class="clearfix">
						<a href="#2" class="fl"><img th:src="@{/img/foot3.png}"/></a>
						<span class="fl">全场满100包邮</span>
					</div>
					<div class="clearfix">
						<a href="#2" class="fl"><img th:src="@{/img/foot4.png}"/></a>
						<span class="fl">收卖一体特色服务</span>
					</div>
				</div>
			</div>
			<p class="dibu">Cheirmin&nbsp;&copy;&nbsp;2019</p>
		</div>
	</footer>
	</body>
</html>
