<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
	<head lang="en">
		<meta charset="utf-8" />
		<title>ExBookStore</title>
		<link rel="stylesheet" type="text/css" href="css/public.css" th:href="@{/css/public.css}"/>
		<link rel="stylesheet" type="text/css" href="css/index.css" th:href="@{/css/index.css}"/>
	</head>
	<body>
	<gotop>
		<!--返回顶部-->
		<div class="gotop">
			<a href="cart.html">
				<dl>
					<dt><img src="img/gt1.png" th:src="@{/img/gt1.png}"/></dt>
					<dd>去购<br />物车</dd>
				</dl>
			</a>
			<a href="#" class="dh">
				<dl>
					<dt><img src="img/gt2.png" th:src="@{/img/gt2.png}"/></dt>
					<dd>联系<br />客服</dd>
				</dl>
			</a>
			<a href="mygxin.html">
				<dl>
					<dt><img src="img/gt3.png" th:src="@{/img/gt3.png}"/></dt>
					<dd>个人<br />中心</dd>
				</dl>
			</a>
			<a href="#" class="toptop" style="display: none">
				<dl>
					<dt><img src="img/gt4.png" th:src="@{/img/gt4.png}"/></dt>
					<dd>返回<br />顶部</dd>
				</dl>
			</a>
			<p>156-1650-0453</p>
		</div>
	</gotop>
	</body>
</html>
