<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<title>header</title>
		<link rel="stylesheet" type="text/css" href="css/public.css" th:href="@{/css/public.css}"/>
		<link rel="stylesheet" type="text/css" href="css/index.css" th:href="@{/css/index.css}"/>
	</head>
	<body>
	<header>
		<div class="head">
			<div class="wrapper clearfix">
				<div class="clearfix" id="top">

                    <h1 class="fl">
                        <a href="index.html">
                            <img src="img/logo.png" th:src="@{/img/logo.png}"/>
                        </a>
                    </h1>

                    <ul class="clearfix" id="bott">
                        <li><a href="index.html">书店首页</a></li>
                        <li><a href="#">店家推荐</a></li>
                        <li>
                            <a href="#">新书区</a>
                            <div class="sList">
                                <div class="wrapper  clearfix">
                                    <a href="paint.html">
                                        <dl>
                                            <dt><img src="img/nav1.jpg"/></dt>
                                            <dd>国学古籍/收藏鉴赏</dd>
                                        </dl>
                                    </a>
                                    <a href="paint.html">
                                        <dl>
                                            <dt><img src="img/nav2.jpg"/></dt>
                                            <dd>小说/文学/语言文学</dd>
                                        </dl>
                                    </a>
                                    <a href="paint.html">
                                        <dl>
                                            <dt><img src="img/nav2.jpg"/></dt>
                                            <dd>童书/生活/体育</dd>
                                        </dl>
                                    </a>
                                    <a href="paint.html">
                                        <dl>
                                            <dt><img src="img/nav3.jpg"/></dt>
                                            <dd>经济/社科/综合</dd>
                                        </dl>
                                    </a>
                                    <a href="paint.html">
                                        <dl>
                                            <dt><img src="img/nav3.jpg"/></dt>
                                            <dd>历史/地理/艺术</dd>
                                        </dl>
                                    </a>
                                    <a href="paint.html">
                                        <dl>
                                            <dt><img src="img/nav1.jpg"/></dt>
                                            <dd>教材/教辅/考试</dd>
                                        </dl>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#">旧书卖场</a>
                            <div class="sList">
                                <div class="wrapper  clearfix">
                                    <a href="paint.html">
                                        <dl>
                                            <dt><img src="img/nav1.jpg"/></dt>
                                            <dd>国学古籍/收藏鉴赏</dd>
                                        </dl>
                                    </a>
                                    <a href="paint.html">
                                        <dl>
                                            <dt><img src="img/nav2.jpg"/></dt>
                                            <dd>小说/文学/语言文学</dd>
                                        </dl>
                                    </a>
                                    <a href="paint.html">
                                        <dl>
                                            <dt><img src="img/nav2.jpg"/></dt>
                                            <dd>童书/生活/体育</dd>
                                        </dl>
                                    </a>
                                    <a href="paint.html">
                                        <dl>
                                            <dt><img src="img/nav3.jpg"/></dt>
                                            <dd>经济/社科/综合</dd>
                                        </dl>
                                    </a>
                                    <a href="paint.html">
                                        <dl>
                                            <dt><img src="img/nav3.jpg"/></dt>
                                            <dd>历史/地理/艺术</dd>
                                        </dl>
                                    </a>
                                    <a href="paint.html">
                                        <dl>
                                            <dt><img src="img/nav1.jpg"/></dt>
                                            <dd>教材/教辅/考试</dd>
                                        </dl>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li><a href="#">市价收购旧书</a></li>
                    </ul>

					<div class="fr clearfix" id="top1">
                        <form action="#" method="get" class="fl">
                            <input type="text" placeholder="热门搜索：朝花夕拾" />
                            <input type="button" />
                        </form>
                        <div class="btn fl clearfix">
                            <a href="mygxin.html"><img src="img/grzx.png" th:src="@{/img/grzx.png}"/></a>
                            <a href="cart.html"><img src="img/gwc.png" th:src="@{/img/gwc.png}"/></a>
                            <p><a href="#"><img src="img/smewm.png" th:src="@{/img/smewm.png}"/></a></p>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</header>
	</body>
</html>
