<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
	<head lang="en">
		<meta charset="utf-8" />
		<title>ExBookStore</title>
		<link rel="stylesheet" type="text/css" href="css/public.css" th:href="@{/css/public.css}"/>
		<link rel="stylesheet" type="text/css" href="css/index.css" th:href="@{/css/index.css}"/>
	</head>
	<body>
		<div th:include="header::header"></div>

		<!------------------------------news------------------------------>
		<div class="news">
			<div class="wrapper">
				<h2><img src="img/ih1.jpg" th:src="@{/img/ih1.jpg}"/></h2>
				<div class="top clearfix">
					<a href="#"><img src="img/n1.jpg" th:src="@{/img/n1.jpg}"/><p></p></a>
					<a href="#"><img src="img/n2.jpg" th:src="@{/img/n2.jpg}"/><p></p></a>
					<a href="#"><img src="img/n3.jpg" th:src="@{/img/n3.jpg}"/><p></p></a>
				</div>
				<div class="bott clearfix">
					<a href="#"><img src="img/n4.jpg" th:src="@{/img/n4.jpg}"/><p></p></a>
					<a href="#"><img src="img/n5.jpg" th:src="@{/img/n5.jpg}"/><p></p></a>
					<a href="#"><img src="img/n6.jpg" th:src="@{/img/n6.jpg}"/><p></p></a>
				</div>
				<h2><img src="img/ih2.jpg" th:src="@{/img/ih2.jpg}"/></h2>
				<div class="flower clearfix tran">
					<a href="proDetail.html" class="clearfix">
						<dl>
							<dt>
								<span class="abl"></span>
								<img src="img/flo1.jpg" th:src="@{/img/flo1.jpg}"/>
								<span class="abr"></span>
							</dt>
							<dd>【花艺】七头美丽玫瑰仿真花束</dd>
							<dd><span>¥ 79.00</span></dd>
						</dl>
					</a>
					<a href="proDetail.html">
						<dl>
							<dt>
								<span class="abl"></span>
								<img src="img/flo2.jpg" th:src="@{/img/flo2.jpg}"/>
								<span class="abr"></span>
							</dt>
							<dd>【花艺】七头美丽玫瑰仿真花束</dd>
							<dd><span>¥ 79.00</span></dd>
						</dl>
					</a>
					<a href="proDetail.html">
						<dl>
							<dt>
								<span class="abl"></span>
								<img src="img/flo3.jpg" th:src="@{/img/flo3.jpg}"/>
								<span class="abr"></span>
							</dt>
							<dd>【花艺】七头美丽玫瑰仿真花束</dd>
							<dd><span>¥ 79.00</span></dd>
						</dl>
					</a>
				</div>
				<div class="flower clearfix tran">
					<a href="proDetail.html">
						<dl>
							<dt>
								<span class="abl"></span>
								<img src="img/flo4.jpg" th:src="@{/img/flo4.jpg}"/>
								<span class="abr"></span>
							</dt>
							<dd>【花艺】七头美丽玫瑰仿真花束</dd>
							<dd><span>¥ 79.00</span></dd>
						</dl>
					</a>
					<a href="proDetail.html">
						<dl>
							<dt>
								<span class="abl"></span>
								<img src="img/flo5.jpg" th:src="@{/img/flo5.jpg}"/>
								<span class="abr"></span>
							</dt>
							<dd>【花艺】七头美丽玫瑰仿真花束</dd>
							<dd><span>¥ 79.00</span></dd>
						</dl>
					</a>
					<a href="proDetail.html">
						<dl>
							<dt>
								<span class="abl"></span>
								<img src="img/flo6.jpg" th:src="@{/img/flo6.jpg}"/>
								<span class="abr"></span>
							</dt>
							<dd>【花艺】七头美丽玫瑰仿真花束</dd>
							<dd><span>¥ 79.00</span></dd>
						</dl>
					</a>
				</div>
			</div>
		</div>

        <!--返回顶部-->
        <div class="gotop">
            <a href="cart.html">
                <dl>
                    <dt><img src="img/gt1.png" th:src="@{/img/gt1.png}"/></dt>
                    <dd>去购<br />物车</dd>
                </dl>
            </a>
            <a href="#" class="dh">
                <dl>
                    <dt><img src="img/gt2.png" th:src="@{/img/gt2.png}"/></dt>
                    <dd>联系<br />客服</dd>
                </dl>
            </a>
            <a href="mygxin.html">
                <dl>
                    <dt><img src="img/gt3.png" th:src="@{/img/gt3.png}"/></dt>
                    <dd>个人<br />中心</dd>
                </dl>
            </a>
            <a href="#" class="toptop" style="display: none">
                <dl>
                    <dt><img src="img/gt4.png" th:src="@{/img/gt4.png}"/></dt>
                    <dd>返回<br />顶部</dd>
                </dl>
            </a>
            <p>156-1650-0453</p>
        </div>

		<div th:include="footer::footer"></div>
	</body>

	<script th:src="@{js/jquery-1.12.4.min.js}" type="text/javascript" charset="utf-8"></script>
	<script th:src="@{js/public.js}" type="text/javascript" charset="utf-8"></script>
	<script th:src="@{js/nav.js}" type="text/javascript" charset="utf-8"></script>
	<script th:src="@{js/jquery.flexslider-min.js}" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript">
        $(function() {
            $('#home_slider').flexslider({
                animation: 'slide',
                controlNav: true,
                directionNav: true,
                animationLoop: true,
                slideshow: true,
                slideshowSpeed:2000,
                useCSS: false
            });
        });
    </script>
</html>
