<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<title>个人信息</title>
		<link rel="stylesheet" type="text/css" href="css/public.css" th:href="@{/css/public.css}"/>
		<link rel="stylesheet" type="text/css" href="css/mygxin.css" th:href="@{/css/mygxin.css}"/>
	</head>
	<body>
	 	<header th:fragment="header">
			<!------------------------------head------------------------------>
			<div class="head ding">
				<div class="wrapper clearfix">
					<div class="clearfix" id="top">
						<h1 class="fl" style="margin-left:-15px">
							<a href="index.html"><img src="img/logo.png" th:src="@{/img/logo.png}"/></a>
						</h1>
					</div>
				</div>
			</div>
		</header>
	</body>
</html>
